.container  {margin-top: 1rem;}
p           {text-align: justify;}
.tempat     {width: 20rem;}
.dokter     {width: 10rem;}
.pre        {white-space: pre;}
.test       {background-color: brown;}
.col-auto   {margin-top: 1rem;}